@{
    ViewData["Title"] = "The People Behind ChatMaster";
}
@section Styles {
    <link rel="stylesheet" href="~/css/AboutUs.css" />
}


<div class="container py-5">
    <div class="highlight-box">
        <h1>The people behind ChatMaster</h1>
    </div>
    <hr />
    <h4>
        We are a passionate little team of developers, eager to learn new things, create applications, and solve problems.
        Our curiosity is often responsible for leading us into developing apps like this one.
    </h4>
    <hr />
    <h2>Meet the team!</h2>
    <hr />
    <ul class="list-unstyled">
        <li class="d-flex align-items-center mb-4">
            <div class="image-wrapper me-3">
                <img src="/images/Fredrik_Nellbeck.jpg" alt="Fredrik Nellbeck">
            </div>
            <div>
                <h4 class="mb-1">Fredrik Nellbeck</h4>
                <p class="text-muted">
                    <strong>Alias: The Carpenter.</strong> When things need to get done, our carpenter grabs his hammer and gets the job done without hesitation.
                    No matter how big the challenge, it can always be solved with some good old planks, nails, and determination. An old-styler at heart, keeping things
                    "clean and simple" makes us avoid many future headaches as a team, and his stubborness in building good and stable foundations before branching out into
                    the unknown makes navigating the digital waters much easier.
                </p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <div class="image-wrapper me-3">
                <img src="/images/Leo_Browaldh.jpeg" alt="Leo Browaldh">
            </div>
            <div>
                <h4 class="mb-1">Leo Browaldh</h4>
                <p class="text-muted">
                    <strong>Alias: The Berserker.</strong> Our berserker throws himself into the code as soon as he sees a gap where he can fit in,
                    spitting out variables and functions as he goes, destroying the bugs in no time, and implementing different approaches until he feels comfortable.
                    His obsessive attention to detail and his determination to solve problems make him an essential part of our team.
                </p>
            </div>
        </li>
    </ul>
</div>

