@{
    Layout = "_Layout"; 
}
<head>
    <link rel="stylesheet" href="~/css/Homepage.css"/>
</head>

@* <h1 style="text-align:center;">Welcome to ChatMaster!</h1>
<hr /> *@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption text">
                <h4>Here you can chat with everyone else</h4>
            </div>
            <a asp-area="Identity" asp-page="/Account/Login">
                <div class="carousel-image-wrapper slide-1">
                        <img src="~/images/screenshots/public-chat.png" alt="First slide">
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption text">
                <h4>Chat on your phone while on the run</h4>
            </div>
            <a asp-area="Identity" asp-page="/Account/Login">
                <div class="carousel-image-wrapper">
                    <img src="~/images/screenshots/public-chat-phone-screen.png" alt="Second slide">
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption text">
                <h4>Never miss a chat message with notifications</h4>
            </div>
            <a asp-area="Identity" asp-page="/Account/Login">
                <div class="carousel-image-wrapper">
                    <img src="~/images/screenshots/show-notification.png" alt="Third slide">
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption text">
                <h4>Login to try it out</h4>
            </div>
            <a asp-area="Identity" asp-page="/Account/Login">
                <div class="carousel-image-wrapper">
                    <img src="~/images/logo-ChatMaster2.jpg" alt="Fourth slide">
                </div>
            </a>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

