@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <input type="button" value="Send Notification"/>
</form>
<div class="text-center">
    <h1 class="display-4">Welcome everyone</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
