@{
    ViewData["Title"] = "Home Page";
}


<button id="push-button">Notify Me</button>

<!-- Declaring the public key as a JavaScript variable -->
<script>
    var publicKey = '@ViewBag.PublicKey';
</script>

<script src="~/js/index.js"></script>

