
@{
	ViewData["Title"] = "Notifications Settings";
}


<button id="push-button" class="btn btn-primary btn-lg mb-3 me-3">Test Notification</button>
<button id="unsubscribe-button" class="btn btn-secondary btn-lg mb-3 me-3">Unsubscribe Browser</button>

@section scripts {
	<script src="~/js/settings.js"></script>
}