@{
	ViewData["Title"] = "Notifications Settings";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/notificationSettings.css" />
}

<body>
    <div>
        <button id="install" class="btn btn-primary btn-sm" hidden>Install app</button>
    </div>

    <div class="container">
        <div >
            <label class="switch">
                <input type="checkbox" id="notification-switch">
                <span class="slider"></span>
            </label>
            
        </div>
        <span id="status-message" >Notifications are disabled.</span>
    </div>

    <button id="push-button" class="btn btn-primary btn-sm" disabled>Test Notification</button>


<script type="module" src="~/js/settings.js"></script>
<script src="~/sw.js"></script>
<script>
    var publicKey = '@ViewBag.PublicKey';
    var userId = '@ViewBag.UserId';
</script>

</body>