.image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 25px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.highlight-box {
    background-color: #1e9793;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.highlight-box h1,
.highlight-box h2 {
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
@media (max-width: 770px) {
    body {
        margin-top: 60px;
        margin-left: 0;
    }
}
.form-check-input {
    margin-right: 10px;
}

.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Default background */
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white; /* Slider handle color */
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #a0dcdb; /* Background when toggled on */
}

    input:checked + .slider:before {
        transform: translateX(26px); /* Moves slider handle */
    }

#status-message {
    margin-left: 10px;
}

#push-button {
    margin-top: 10px;
}

    #push-button:disabled {
        background-color: #6c757d;
        border-color: #6c757d;
    }

