.form-check-input {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Default background */
    transition: 0.4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white; /* Slider handle color */
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #11b281; /* Background when toggled on */
}

    input:checked + .slider:before {
        transform: translateX(26px); /* Moves slider handle */
    }

#status-message {
    margin-left: 10px;
}

#push-button {
    margin-top: 10px;
}

    #push-button:disabled {
        background-color: #6c757d;
        border-color: #6c757d;
    }

