html, body {
    height: 100%; 
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Garamond', serif;
    background-color: white;
    color: #3e3e3e;
    line-height: 1.6;
    min-height: 100vh;
}



h1, h2, h3 {
    font-family: 'Old English Text MT', cursive; 
    color:cornflowerblue;
    text-shadow: 2px 2px 1px #d1b48c;
}

h1 {
    font-size: 2.5em; 
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 2em; 
    margin-top: 15px;
}

h3 {
    font-size: 1.5em; 
    margin-top: 10px;
}


p {
    margin: 15px 0;
}


a {
    color: #b22222; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

button {
    background-color: white;
    border-color: black;
    border: groove;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#button-modal {
    background-color: white;
    border-color: black;
    border: groove;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
#button-modal:hover {
    background-color: lightgray;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: url('path_to_icon.png') no-repeat left center; 
    padding-left: 20px; 
    margin: 5px 0;
}

.list-group-item {
    word-wrap: break-word; 
    white-space: normal; 
    overflow: hidden; 
    background-color: #0F67B1;
    color: white;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}


blockquote {
    font-style: italic; 
    border-left: 4px solid #8B4513; 
    padding-left: 15px;
    margin: 20px 0;
}


.chat-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.sender {
    background-color: paleturquoise; 
    color: black; 
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 70%;
    align-self: flex-end; 
    position: relative;
    box-shadow: 10px 5px 5px;
}

.sender::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
}

.receiver {
    background-color: #B6FFA1; 
    color: #3e3e3e; 
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 70%;
    align-self: flex-start; 
    position: relative;
    box-shadow: 10px 5px 5px;
}

.receiver::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent; 
}
#chat {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    height: 400px; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
}

.chat-window {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

@media (max-width: 600px) {
    .sender, .receiver {
        padding: 4px 12px;
        font-size: 0.9em;
        max-width: 85%;
    }
    .chat-window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
    }
}
