html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    margin-left: 250px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #d8eced;
    border-right: 3px solid #ccc;
    transition: transform 0.3s ease-in-out;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.nav-link {
    text-align: center;
    font-size: 22px;
    color: #b22222;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.nav-link:hover{
    text-decoration:underline;
}
.navbar-nav {
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}

.logo-button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

    .logo-button button {
        background: none;
        border: none;
        padding: 0;
    }

    .logo-button img {
        max-width: 60px;
        height: auto;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
    }
.partial-container {
    flex-direction:column;
    text-align:center;
}

#notification-settings-link {
    justify-content:center;
    margin-top:20px;
    text-align: center;
    font-size: 22px;
    color: #b22222;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

#notification-settings-container {
    justify-items:center;
    text-align:center;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width: 768px) {
    body {
        margin-left: 0; 
    }


    nav {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px; 
        height: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        transition: left 0.3s ease-in-out; 
    }

        
        nav.show {
            left: 0; 
        }

    .navbar-toggler {
        position: fixed;
        top: 20px;
        left: 10px;
        z-index: 1050;
        background-color: #d8eced;
        border: none;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        position: relative;
        transition: all 0.3s ease;
    }

        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all 0.3s ease;
        }

        .navbar-toggler-icon::before {
            top: -8px;
            left: 0px;
        }

        .navbar-toggler-icon::after {
            bottom: -8px;
            left: 0px;
        }
}
.form-check-input {
    margin-right: 10px;
}

.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Default background */
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white; /* Slider handle color */
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #a0dcdb; /* Background when toggled on */
}

    input:checked + .slider:before {
        transform: translateX(26px); /* Moves slider handle */
    }

#status-message {
    margin-left: 10px;
}

#push-button {
    margin-top: 10px;
}

    #push-button:disabled {
        background-color: #6c757d;
        border-color: #6c757d;
    }
#install {
    margin-top: 30px;
    background-color: #a0dcdb;
    text-shadow: 1px 1px 2px black;
    border-color: black;
    border:1px solid black;
    padding:8px;
}

