@using Database.EntityModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<AplicationUser> _userManager
@inject IConfiguration _configuration

@{
    var UserId = _userManager.GetUserId(User);
    var PublicKey = _configuration["VapidDetails:PublicKey"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/notificationSettings.css" />
}

<body>

    <button id="push-button" class="btn btn-primary btn-sm" disabled>Test Notification</button>

    <div class="container">
        <div >
            <label class="switch">
                <input type="checkbox" id="notification-switch">
                <span class="slider"></span>
            </label>
            
        </div>
        <span id="status-message" >Notifications are disabled.</span>
    </div>




<script type="module" src="~/js/settings.js"></script>
<script src="~/sw.js"></script>
<script>
    var publicKey = '@PublicKey';
    var userId = '@UserId';
</script>

</body>